---
title: About
layout: main
---


<div class="
  text-primary
  bg-black
  flex flex-col
  p-4
">
  <h2 class="self-center text-3xl font-regular uppercase">CONTENT TITLE</h2>
  <h6 class="self-center text-md font-thin normal-case">content subtitle</h6>
</div>

<img 
  class="bg-black"
  src="/asd"/
>