<footer style="z-index: 10" class="
  bg-secondary 
  pb-4 pt-4 
  shadow
  flex flex-col gap-2 items-center
">
  <div class="flex gap-2">
    {%- for category in settings.artworkCategories -%}
      <button 
        data-category="{{ category }}" 
        onclick="handleFilterClick(this)"
        class="js-filter-button bg-gray-600 text-gray-400 rounded p-1 uppercase text-xs"
      >
        {{ category }}
    </button>
    {%- endfor -%}
  </div>

  <div id="js-artwork-container" class="flex gap-2 overflow-x-scroll no-scrollbar w-screen">
    <!-- TODO: these need to scale based on screen res -->
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>

    {% assign visibleArtwork = collections.artwork %}
    {%- for p in visibleArtwork -%}
    <a
      data-category="{{p.data.category}}" 
      href="{{ p.url }}"
      class="js-artwork-button"
      {% if page.url == p.url %} 
      id="js-selected"
      {% endif %}
    >
      <div class="
        w-48
        {% if page.url == p.url %} 
        border-2 border-primary 
        {% else %}
        border-2 border-black
        opacity-30
        {% endif %}
      ">
        {% assign imgPath = "./src" | append: p.data.images[0] %}
        {% artworkThumbnail imgPath "" %}
      </div>
    </a>
    {%- endfor -%}

    <!-- TODO: these need to scale based on screen res -->
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
    <div class="flex-none w-48"></div>
  <div>

<footer>

<script>
  let selectedElement = window.document.getElementById('js-selected');
  let artworkContainer = window.document.getElementById('js-artwork-container');
  let artworkButtons = document.getElementsByClassName("js-artwork-button");
  let filterButtons = document.getElementsByClassName("js-filter-button");

  var filterCategory = localStorage.getItem('filterCategory');
  if (filterCategory === undefined || filterCategory === null) {
    filterCategory = "all";
  }
  refreshArtworkFilter(false);
  refreshButtonFilter();

  // set scroll pos to last pos
  var lastScrollPosX = localStorage.getItem('scrollPosX');
  if (lastScrollPosX !== undefined) {
    artworkContainer.scrollLeft = lastScrollPosX;
  }
  
  window.setInterval(function(){
    if (artworkContainer.scrollLeft == lastScrollPosX)
    {
      return;
    }

    lastScrollPosX = artworkContainer.scrollLeft;
    localStorage.setItem('scrollPosX', lastScrollPosX);
  }, 500);

  // must happen after artwork filter so that all items have been hidden/shown before scrolling
  // smooth scroll to selected artwork
  // TODO: this is a little jank on mobile
  selectedElement.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});

  function refreshButtonFilter() {
    for (let i = 0; i < filterButtons.length; i++) {
      let category = filterButtons[i].dataset.category;
      if (category == filterCategory) {
        // selected
        filterButtons[i].classList.add("text-gray-600", "bg-primary");
        filterButtons[i].classList.remove("bg-gray-600", "text-gray-400");
      } else {
        // unselected
        filterButtons[i].classList.add("bg-gray-600", "text-gray-400");
        filterButtons[i].classList.remove("text-gray-600", "bg-primary");
      }
    }
  }

  function refreshArtworkFilter(doScroll) {
    let visibleButtons = [];
    if (filterCategory == "all") {
      for (let i = 0; i < artworkButtons.length; i++) {
        artworkButtons[i].style.display = "block";
        artworkButtons[i].classList.remove("absolute");
      }
      visibleButtons = artworkButtons;
    } else {
      for (let i = 0; i < artworkButtons.length; i++) {
        let category = artworkButtons[i].dataset.category;
        if (category == filterCategory) {
          // show
          artworkButtons[i].style.display = "block";
          artworkButtons[i].classList.remove("absolute");
          visibleButtons.push(artworkButtons[i]);
        } else {
          // hide
          artworkButtons[i].style.display = "none";
          artworkButtons[i].classList.add("absolute");
        }
      }
    }

    // scroll to first element, or fallback to selected element
    if (doScroll) {
      let selectedElement = window.document.getElementById('js-selected');
      if (selectedElement.style.display == "none") {
        // if selected element not visible, scroll middle element
        let index = Math.floor(visibleButtons.length * 0.5);
        scrollToTarget = visibleButtons[index];
      } else {
        // otherwise scroll to selected
        scrollToTarget = selectedElement;
      }
      scrollToTarget.scrollIntoView({behavior: "auto", block: "center", inline: "center"});
    }
  }

  function getChildIndex(element) {
    let children = element.parentElement.children;
    let len = children.length;
    for (let i = 0; i < len; i++) {
      if (children[i] == element) {
        return i;
      }
    }
    return -1;
  }

  function handleFilterClick(e) {
    filterCategory = e.dataset.category;
    localStorage.setItem('filterCategory', filterCategory);
    refreshArtworkFilter(true);
    refreshButtonFilter();
  }
</script>