---
title: About
layout: main
---
<div class="flex flex-col max-h-screen" style="height: calc(var(--vh, 1vh) * 100);"> 
  <div class="flex-auto overflow-y-scroll pb-8">
    {% include header %}

    <main class="flex flex-col items-center">
      <div class="
        flex flex-col gap-2 items-center
        max-w-screen-lg
        w-11/12
      ">      
        <div class="
          text-primary
          bg-black
          flex flex-col
          p-4
          w-full
        ">
          <h1 class="self-center text-center tracking-widest text-3xl font-mono uppercase">{{ title }}</h1>
          <h2 class="self-center text-center text-md font-thin normal-case">{{ subtitle }}</h2>
        </div>

        {% if youtubeURL %}
        <div class="w-full">
          <div class="aspect-w-16 aspect-h-9">
            <iframe 
            src="{{ youtubeURL }}" 
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
          </div>
        </div>
        {% endif %}

        {%- for img in images -%}
        <!-- TODO: make these clickable so that full res can be shown - maybe in new tab? -->
        <div class="bg-black w-full border-4 border-black">
          {% assign imgPath = "./src" | append: img %}
          {% lowresImg imgPath "" %}
        </div>
        {%- endfor -%}        

      </div>
    </main>
  </div>

  {% include artwork-footer %}

</div>

<script>
  setViewHeight();

  window.addEventListener("resize", function() {
    setViewHeight();
  });

  // hack to ensure the view high on mobile is set correctly
  // since the address bar disappears when you scroll down
  function setViewHeight() {
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);  
  };
</script>