<footer style="z-index: 10" class="
  bg-secondary 
  pb-4 pt-4 
  shadow
  flex flex-col gap-2 items-center
">
  <div class="flex gap-2">
    {%- for tag in settings.artworkTags -%}
      <button class="bg-gray-600 text-gray-400 rounded p-1 uppercase text-xs">{{ tag }}</button>
    {%- endfor -%}
  </div>

  <div class="flex gap-2 overflow-x-scroll no-scrollbar w-screen">
    {% assign visibleArtwork = collections.artwork %}
    {%- for p in visibleArtwork -%}
    <a href="{{ p.url }}"
    {% if page.url == p.url %} 
    id="js-selected"
    {% endif %}
    >
      <div data-tag="{{p.data.category}}" class="
        w-48
        {% if page.url == p.url %} 
        border-2 border-primary 
        {% else %}
        border-2 border-black
        opacity-30
        {% endif %}
      ">
        {% assign imgPath = "./src" | append: p.data.images[0] %}
        {% artworkThumbnail imgPath "" %}
      </div>
    </a>
    {%- endfor -%}
  <div>

<footer>

<script>
  let selectedElement = window.document.getElementById('js-selected');
  selectedElement.scrollIntoView({behavior: "auto", block: "center", inline: "center"});
</script>