---
title: About
layout: main
---
<div class="flex flex-col max-h-screen"> 
  <div class="flex-auto overflow-y-scroll">
    {% include header %}

    <main class="flex flex-col items-center">
      <div class="
        flex flex-col gap-2 items-center
        max-w-screen-lg
        w-11/12
      ">      
        <div class="
          text-primary
          bg-black
          flex flex-col
          p-4
          w-full
        ">
          <h2 class="self-center text-3xl font-regular uppercase">{{ title }}</h2>
          <h6 class="self-center text-md font-thin normal-case">{{ subtitle }}</h6>
        </div>

        {%- for img in images -%}
        <!-- TODO: make these clickable so that full res can be shown - maybe in new tab? -->
        <div class="bg-black w-full border-4 border-black">
          {% assign imgPath = "./src" | append: img %}
          {% lowresImg imgPath "" %}
        </div>
        {%- endfor -%}        

      </div>
    </main>

    <!-- some spacing before the footer to ensure the last image isn't cutoff -->
    <br/>
    <br/>
  </div>

  {% include artwork-footer %}

</div>