---
title: About
layout: main
---

<div class="flex flex-col max-h-screen" style="height: calc(var(--vh, 1vh) * 100);"> 
  <div class="flex-auto overflow-y-scroll pb-8">
    {% include ../_layouts/header %}

    <main class="flex flex-col items-center">
      <div class="
        flex flex-col gap-2 items-center
        max-w-screen-lg
        w-11/12
      ">      
        <!-- image -->
        <div class="bg-black w-full border-4 border-black">
          <img 
            class="w-full"
            src="{{ settings.aboutImage }}"
          ></img>
        </div>

        <!-- about -->
        <div class="
          text-primary
          bg-black
          flex flex-col
          p-4
          w-full
        ">
          <h6 class="self-center text-md font-thin normal-case">{{ settings.aboutContent }}</h6>
        </div>

      </div>
    </main>
  </div>
</div>

<!-- <main class="flex flex-col items-center text-primary gap-2 pb-8 w-11/12">

  <div class="bg-black w-full border-4 border-black">
    <img 
      class="w-full"
      src="/media/about.jpg"
    ></img>
  </div>

  <div class="
    text-primary
    bg-black
    flex flex-col
    p-4
    w-full
  ">
    <h6 class="self-center text-md font-thin normal-case">Currently living in Madison, WI, with Madeline and our cat, Gremlin. Graduated from Madison College with an Associate’s of Applied Arts in Animation.</h6>
  </div>

  
</main> -->