---
title: About
layout: page
---

<main class="flex flex-col items-center gap-2 pb-8 w-11/12">
  <div class="bg-black w-full border-4 border-black">
    <img 
      class="w-full"
      src="/media/about.jpg"
    ></img>
  </div>

  <div class="
    text-primary
    bg-black
    flex flex-col
    p-4
    w-full
  ">
    <h6 class="self-center text-md font-thin normal-case">Currently living in Madison, WI, with Madeline and our cat, Gremlin. Graduated from Madison College with an Associate’s of Applied Arts in Animation.</h6>
  </div>

  
</main>