---
title: Reel
layout: main
---

{% include _layouts/header %}

<main 
  class="relative h-0 lg:m-32 md:m-16 m-8" 
  style="padding-top: 56.25%"
>
  <iframe
    class="absolute top-0 left-0 w-full h-full"
    src="{{ settings.youtubeLink }}" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</main>