---
title: Reel
layout: main
---

{% include _layouts/header %}

<main 
  class="relative xl:mx-64 lg:mx-32 md:mx-16 mx-8" 
>
  <div class="aspect-w-16 aspect-h-9">
    <iframe 
    src="{{ settings.youtubeLink }}" 
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    ></iframe>
  </div>
</main>